option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: "arn:aws:acm:sa-east-1:YOUR_ACCOUNT_ID:certificate/YOUR_CERTIFICATE_ID"
    SSLPolicy: "ELBSecurityPolicy-TLS-1-2-2017-01"

  aws:elbv2:listener:default:
    DefaultProcess: http
    ListenerEnabled: 'false'

  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
    HealthCheckPath: '/'
    MatcherHTTPCode: '200-399'
